body{
	background: rgb(28,28,30);
	color: rgb(242,242,247);
}
.repo-navbar {
	background-color: rgba(0,0,0,0.92);
}
.navbar-brand {
	color: rgb(242,242,247);
}
.btn-outline-info-g {
	color: rgb(48,209,88);
	border-color: rgb(48,219,91);
}
.btn-outline-info-g:hover {
	background-color: rgb(48,219,91);
	border-color: rgb(48,219,91);
}
.btn-outline-info-b {
	color: rgb(0,122,255);
	border-color: rgb(0,122,255);
}
.btn-outline-info-b:hover {
	background-color: rgb(0,122,255);
	border-color: rgb(0,122,255);
}
.jumbotron {
	background: rgb(28,28,30);
	color: rgb(242,242,247);
}
.lead {
	color: rgb(209,209,214);
}
.warning-lead {
	color: rgb(215,0,21);
}
.my-4 {
	color: rgb(99,99,102);
}